<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Mathlab</servlet-name>
		<servlet-class>ie.dit.naylor.mark.MathlabServlet</servlet-class>
	</servlet> 
	<servlet>
		<servlet-name>MathLab2</servlet-name>
		<servlet-class>ie.dit.naylor.mark.MathlabServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Multiplication</servlet-name>
		<servlet-class>ie.dit.naylor.mark.MultiplicationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Mathlab</servlet-name>
		<url-pattern>/mathlab</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MathLab2</servlet-name>
		<url-pattern>/mathlab2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Multiplication</servlet-name>
		<url-pattern>/multiplication</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
